/*Style général applicable sur toute la page*/

* {
    font-family: Avenir, sans-serif;
    padding: 0px;
    margin: 0px;
    text-align: justify;
    box-sizing: border-box;
}

body {
    background: beige;
}

p {
    font-size: 1em;
    line-height: 1.5em;
}

a {
    text-decoration: none;
    color: #000;
}


/* principe de changement de fond par Gradient*/

.textemulticolore {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}


/*en tête & pied de page*/

header,
footer {
    width: 100%;
    padding: 20px 0px;
    background: #4f4f4f;
    box-shadow: 0px 0px 15px #333;
}

header {
    border-bottom: 2px solid #fff;
    height: 120px;
}

header h1 {
    color: white;
    font-size: 1.5em;
    width: 90%;
    margin: 0 auto;
}

footer {
    border-top: 2px solid #fff;
}

footer p {
    width: 90%;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}

footer a {
    color: #fff;
}


/*Section*/

section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
    margin: 20px auto;
    box-shadow: 0px 0px 10px #bbb;
    background-color: #fff;
    border-radius: 60px/60px;
}

section h2 {
    margin: 20px 0;
    width: 90%;
}

h2 {
    text-decoration: underline;
}

section>div {
    width: 90%;
}


/*Section information*/

.photo {
    text-align: center;
}

.photo img {
    width: 150px;
    height: 150px;
    border: 3px solid #fff;
    box-shadow: 0px 0px 10px #777;
    border-radius: 50%;
    margin-top: -80px;
}

.description {
    border-bottom: 2px dashed #ccc;
}

.description a {
    display: block;
    text-align: center;
    padding: 10px;
    margin: 10px auto 30px auto;
    color: #fff;
    background-color: #EA0;
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 5px;
}

.contact-flex {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.contact-flex p:first-child {
    flex: 0 0 40%;
}

.contact-flex p:last-child {
    flex: 0 0 60%;
}


/*Section experience et formation*/

.experience {
    display: flex;
    flex-flow: row wrap;
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.experience-info {
    display: flex;
    flex-flow: column wrap;
    flex: 0 0 70%;
    margin-left: auto;
}

.experience-logo {
    flex: 0 0 25%;
    max-width: 100px;
}

.experience img {
    width: 100%;
}

.experience h3 {
    font-size: 1.2em;
}

.experience h4 {
    font-size: 1em;
    font-weight: normal;
}


/*Section compétence afin si il y en a*/

.h3gauche {
    width: 90%;
}

.comp {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 10px;
}

.comp p {
    flex: 0 0 40%;
}

.conteneur-barre {
    flex: 0 0 60%;
    border-radius: 5px;
    background-color: grey;
    border-bottom: 1px ridge grey;
}

.barre {
    display: block;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.c50 {
    width: 50%;
    background-color: #ec821e;
}

.c70 {
    width: 70%;
    background-color: #84ad74;
}

.c80 {
    width: 80%;
    background-color: #77a877;
}

.c85 {
    width: 85%;
    background-color: #8B8;
}

.c90 {
    width: 90%;
    background-color: #4B8;
}

.c95 {
    width: 95%;
    background-color: #4B8;
}

.c100 {
    width: 100%;
    background-color: #4B8;
    border-radius: 5px;
}

.comp2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.conteneur-barre2 {
    flex: 0 0 100%;
    height: 0.5em;
    margin-bottom: 0.25em;
    border-radius: 5px;
    background-color: grey;
}


/*SECTION INTERETS*/

.interet {
    flex: 0 1 50%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 20px;
}

.interet img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px #555;
}


/*VERSION BUREAU DU CV (code trouvé)*/

@media screen and (min-width: 980px) {
    section {
        width: 80%;
        box-shadow: 0px 0px 10px #bbb;
    }
    a:hover {
        color: #EA0;
    }
    header h1 {
        width: 80%;
    }
    .description,
    .contact {
        flex: 0 0 45%;
    }
    .description {
        border-bottom: none;
        border-right: 2px solid #ccc;
        padding-right: 20px;
        margin-left: auto;
    }
    .contact {
        padding-left: 20px;
        margin-right: auto;
    }
    .description a {
        border: 2px solid transparent;
    }
    .description a:hover {
        color: #f28835;
        background-color: #fff;
        border: 2px solid #f28835;
        box-shadow: 0px 0px 20px #666;
    }
    .experience-logo {
        flex: 0 0 10%;
    }
    .experience-info,
    .experience-desc {
        flex: 0 0 85%;
        margin-left: auto;
    }
    .interet {
        flex: 0 1 25%;
    }
}